<div class="gui-window" gui-drag drag-in='.screen-body' drag-by='.gui-window-header' drag-scope='false' >
	<div class="gui-window-header"></div>
	<!-- <div class="gui-window-body" ></div> -->
	<div class="gui-window-footer">footer</div>


	<div class="gui-resizable-handler gui-resizable-handler-up"></div>
	<div class="gui-resizable-handler gui-resizable-handler-down"></div>
	<div class="gui-resizable-handler gui-resizable-handler-left"></div>
	<div class="gui-resizable-handler gui-resizable-handler-right"></div>

	<div class="gui-resizable-handler gui-resizable-handler-up-left"></div>
	<div class="gui-resizable-handler gui-resizable-handler-up-right"></div>
	<div class="gui-resizable-handler gui-resizable-handler-down-left"></div>
	<div class="gui-resizable-handler gui-resizable-handler-down-right"></div>

</div>