<div class="gui-resizable">
	<div class="gui-resizable-body" ng-transclude></div>

	<div class="gui-resizable-handler gui-resizable-handler-up" direction='up'></div>
	<div class="gui-resizable-handler gui-resizable-handler-down" direction='down'></div>
	<div class="gui-resizable-handler gui-resizable-handler-left" direction='left'></div>
	<div class="gui-resizable-handler gui-resizable-handler-right" direction='right'></div>

	<div class="gui-resizable-handler gui-resizable-handler-up-left" direction='up-left'></div>
	<div class="gui-resizable-handler gui-resizable-handler-up-right" direction='up-right'></div>
	<div class="gui-resizable-handler gui-resizable-handler-down-left" direction='down-left'></div>
	<div class="gui-resizable-handler gui-resizable-handler-down-right" direction='down-right'></div>
</div>