<div class="gui-resizable">
	<div class="gui-resizable-body" ng-transclude></div>

	<div class="gui-resizable-handler gui-resizable-handler-up"></div>
	<div class="gui-resizable-handler gui-resizable-handler-down"></div>
	<div class="gui-resizable-handler gui-resizable-handler-left"></div>
	<div class="gui-resizable-handler gui-resizable-handler-right"></div>

	<div class="gui-resizable-handler gui-resizable-handler-up-left"></div>
	<div class="gui-resizable-handler gui-resizable-handler-up-right"></div>
	<div class="gui-resizable-handler gui-resizable-handler-down-left"></div>
	<div class="gui-resizable-handler gui-resizable-handler-down-right"></div>
</div>