<gui-window>
<gui-resizable>
<div class="gui-window-header">
	<!-- 工具栏 -->
	<nav class="toolbar" ng-controller='guiDesktopToolbarCtrl'>
		<section class="left btn icon">
			<i class="fa fa-circle-o"></i>
		</section>
		<section class="right btn icon" ng-click="$parent.events.fullscreenToggle()">
			<i class="fa fa-arrows-alt"></i>
		</section>
		<section class="middle">
			fwind.me
		</section>
	</nav>
	<!-- 工具栏 -->
</div>


<div class="gui-window-body" >
	<div class="gui-instance gui-screen" ng-class="guiScreenFull || null">
		<div class="desktop">
			<div class="icon-container">

				<div class="icon" gui-drag drag-move='.screen-body'>
					<img class='icon-img' src="css/images/app-icons/computer.png"/>
					<div>name</div>
				</div>

			</div>
			<!-- <div class="window-container"></div> -->
		</div>


		<!-- 任务栏 -->
		<div class="taskbar"></div>

	</div>
</div>
<div class="gui-window-footer">footer</div>
</gui-resizable >
</gui-window>