/*@import "compass/reset";*/
@import "compass/layout";

$screen-body-background:#C0C0C0;
$screen-dashboard-body-background:#00FFFF;


body{
	overflow: hidden;
	padding:0;
}
.screen{
	@include stretch;

	.screen-body{
		@include stretch;
		border: 1px solid red;
		background: $screen-body-background;
	}



	.screen-dashboard{
		@include stretch;
		height: 100%;
		width:200px;
		transition:all 0.5s ease-in-out;

		.dashboard-switch{
			position:relative;
			left:30px;
			float:right;
			top:-55%;
		}
		.body{
			height:100%;
			width:100%;
			border:1px solid green;
			background: $screen-dashboard-body-background;


			button.create-gui-instance{
				width:100%;
			}
		}

	}


	.screen-dashboard-open{
		left:0px;
	}

	.screen-dashboard-close{
		left:-200px;
	}


}


