@import "compass/css3";
$resizable-handler-width:6px;
$resizable-handler-oblique-angle-size:12px;
$resizable-handler-background:#f2f2f2;
$resizable-handler-border-radius:2px;
$resizable-handler-background-color:#f2f2f2;
.gui-resizable{
	.gui-resizable-body{
		position:absolute;
		margin:$resizable-handler-width;
		bottom:0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	.gui-resizable-handler{
		z-index: 0;
		background:$resizable-handler-background-color;
	}

	.gui-resizable-handler-up{
		position: absolute;
		height: $resizable-handler-width;
		left: $resizable-handler-oblique-angle-size;
		right: $resizable-handler-oblique-angle-size;
		cursor:n-resize;
	}

	.gui-resizable-handler-down{
		position: absolute;
		height: $resizable-handler-width;
		bottom: 0;
		left: $resizable-handler-oblique-angle-size;
		right: $resizable-handler-oblique-angle-size;
		cursor:s-resize;
	}

	.gui-resizable-handler-left{
		position: absolute;
		width:$resizable-handler-width;
		top:$resizable-handler-oblique-angle-size;
		bottom:$resizable-handler-oblique-angle-size;
		left: 0;
		cursor:w-resize;
	}

	.gui-resizable-handler-right{
		position: absolute;
		width:$resizable-handler-width;
		top:$resizable-handler-oblique-angle-size;
		bottom:$resizable-handler-oblique-angle-size;
		right: 0;
		cursor:e-resize;
	}

	.gui-resizable-handler-up-left{
		@include border-radius($resizable-handler-border-radius);
		position: absolute;
		width:$resizable-handler-oblique-angle-size;
		height: $resizable-handler-oblique-angle-size;
		cursor:nw-resize;
	}

	.gui-resizable-handler-up-right{
		@include border-radius($resizable-handler-border-radius);
		position: absolute;
		width:$resizable-handler-oblique-angle-size;
		height: $resizable-handler-oblique-angle-size;
		right: 0;
		cursor:ne-resize;
	}

	.gui-resizable-handler-down-left{
		@include border-radius($resizable-handler-border-radius);
		position: absolute;
		width:$resizable-handler-oblique-angle-size;
		height: $resizable-handler-oblique-angle-size;
		bottom: 0;
		cursor:sw-resize;
	}

	.gui-resizable-handler-down-right{
		@include border-radius($resizable-handler-border-radius);
		position: absolute;
		width:$resizable-handler-oblique-angle-size;
		height: $resizable-handler-oblique-angle-size;
		bottom: 0;
		right: 0;
		cursor:se-resize;
	}
}