@import "compass/layout";

.gui-instance.gui-screen{
	position: absolute;
	border: 1px solid black;
	top:0;
	bottom:0;
	left:0;
	right:0;

	
	



	

	.desktop{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: #fff;
	}


}






/*
* desktop
*/

.gui-screen .desktop{
	.icon-container{
		@include stretch;
		// padding: 5px;
	}

	.window-container{
		@include stretch;
		border: 2px solid red;
	}
}


/*
* icon
*/

.gui-screen .desktop .icon-container .icon{
	z-index:1;
	position:absolute;
	// float:left;
	// margin: 5px;
	// padding: 2px;
	width: 60px;
	height: 70px;
	// border:1px solid red;

	.icon-img{
		width: 50px;
	}
}

